.App {
  text-align: center;
}


.App-link {
  color: #61dafb;
}


.pages-pageNumbers {
  display: flex;
  flex-direction: row;

}

.card {

  float: left;
  width: 30%;
  margin: 20px;
  height: 200px;

}



.users {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}